body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(60deg * 15);
  }
}

div.App {
  /*padding: 100px 0;
  background: #61dafb;
  div.container {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border: solid 1px black;
    border-radius: 300px;
    overflow: hidden;
    position: relative;

    & > div[class*="sec"] {
      width: 600px;
      height: 600px;
      position: absolute;
      background-color: transparent;
      left: 0;
      top: 0;

      div.p-relative {
        position: relative;
        width: 300px;
        height: 300px;
        top: 0;
        left: 0;

        div.content {
          content: "";
          width: 300px;
          height: 300px;
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      &.sec-0 {
        z-index: 1;
        transform: rotate(30deg);

        div.content {
          background-color: black;
        }
      }

      &.sec-1 {
        z-index: 2;
        transform: rotate(60deg * 1);

        div.content {
          background-color: white;
        }
      }

      &.sec-2 {
        z-index: 3;
        transform: rotate(60deg * 2);

        div.content {
          background-color: black;
        }
      }

      &.sec-3 {
        z-index: 4;
        transform: rotate(60deg * 3);

        div.content {
          background-color: white;
        }
      }

      &.sec-4 {
        z-index: 5;
        transform: rotate(60deg * 4);

        div.content {
          background-color: black;
        }
      }

      &.sec-5 {
        z-index: 6;
        transform: rotate(60deg * 5);

        div.content {
          background-color: transparent;
        }
      }
    }

    &.spinning {
      animation-name: spin;
      animation-duration: 2s;
      animation-timing-function: ease-out;
    }
  }

  button {
    margin-top: 24px;
  }*/

  background-color: #E1E1E1;

  div.svg {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    overflow: hidden;
    border-radius: 300px;
    position: relative;
    z-index: 1;

    & > svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    & > div.content {
      position: relative;
      top: 0;
      left: 0;
      width: 600px;
      height: 600px;

      & > div {
        position: absolute;
        top: 150px;
        min-width: 600px;
        min-height: 300px;
        border: dashed 1px red;
        z-index: 2;
        transform: rotate(30deg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;

        p {
          width: 50%;
          text-align: center;
        }
      }
    }
  }
}